<div *ngIf="this.community" class="row mb-5">
  <div class="col-lg-9 mx-auto">
    <div class="col-lg-5">
      <img [src]="community.bannerUrl" style="width: 200px; height: 100px;float: left; margin-right: 15px;" />
    </div>
    <div class="col-lg-4" style="float: left;">
      <div style="margin-bottom: 10px;">
        <b>{{community.name}}</b>
      </div>
      <div>
        <label>Description: </label> {{community.description}}
      </div>
      <div>
        <label>Selected Tag(s): </label> {{this.tarray}}
      </div>
    

      <!-- <span class="button is-small btn-primary" *ngIf='community.active' (click)='updateActive(false)'>Inactive</span>
  <span class="button is-small btn-primary" *ngIf='!community.active' (click)='updateActive(true)'>Active</span> -->

      <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-right: 10px;"
        [routerLink]="['/postTypes/add', community.id]">Create New Post Type</button>
      <button class="btn btn-sm btn-danger" (click)='deleteCommunity()'>Delete Community</button>
    </div>
  </div>

  <div class="col-lg-9 mx-auto" style="margin-top: 10px" >
    <h3>Post Types</h3>
    <div class="col-md-4" *ngFor="let postType of community.postTypes" style="float: left; height:max-content">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text"><b>{{postType.name}}</b></p>
          <p class="card-text">Usage: {{postType.usage}}</p>
          <div style="float: right;">
            <img style="margin-right: 10px;" type="button"
              src="https://img.icons8.com/material-sharp/24/000000/edit.png">
            <img type="button" [routerLink]="['/posts/add', community.id]"
              src="https://img.icons8.com/office/24/000000/plus-2-math.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 mx-auto">
  <h3>Posts</h3>
  <div class="col-lg-9 mx-auto" *ngFor="let postType of community.postTypes" style="margin-top: 10px">
    <div class="col-md-4" *ngFor="let post of postType.posts" style="float: left; height:max-content">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <p class="card-text" *ngFor="let area of stringToJSON(post.postText)">{{area}}</p>
          <div style="float: right;">
            <img style="margin-right: 10px;" type="button"
              src="https://img.icons8.com/material-sharp/24/000000/edit.png">
            <img type="button" [routerLink]="['/postTypes', postType.id]"
              src="https://img.icons8.com/office/24/000000/plus-2-math.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>