<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Comin</h1>
          <p class="lead text-muted">Let's "Comin" and create a community to find people who are interested in same topic as you.</p>
          <p>
            <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/communities/add']" >Create New Community</a>
            <!--<a class="btn btn-sm btn-outline-secondary" [routerLink]="['/advanced']" >Advanced Search</a>-->
          </p>
        </div>
      </section>
<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4" *ngFor="let community of communities">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <img class="card-img-top" [src]="community.bannerUrl" alt="Card image cap" style="width: 300px; height: 200px;"/>
                  <p class="card-text">{{community.name}}</p>
                  <p class="card-text">{{community.description}}</p>
                  <p class="card-text">{{community.selectedTags}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/communities/id', community.id]" >View</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>