HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### VS Code ###
**/.vscode/

# dependencies
**/comin-client/node_modules
**/comin-client/.pnp
**/comin-client.pnp.js

# testing
**/comin-client/coverage

# production
**/comin-client/build

# misc
**/.DS_Store

**/comin-client/npm-debug.log*
**/comin-client/yarn-debug.log*
**/comin-client/yarn-error.log*