<body *ngIf="this.postType" class="text-center">
    <form [formGroup]="formAreaInstanceAddForm" class="form-group">
        <h1 style="text-align: center;" class="h3 mb-3 font-weight-normal">Post to {{postType.name}}</h1>
        <div *ngFor="let formArea of postType.formAreas">
            <div *ngIf="formArea.dataType == 'text'">
                <input type="text" id="{{formArea.label}}" formControlName="{{formArea.label}}" class="form-control"
                    placeholder="{{formArea.label}}" name="{{formArea.label}}">
            </div>
            <div *ngIf="formArea.dataType == 'number'">
                <input type="number" id="{{formArea.label}}" formControlName="{{formArea.label}}" class="form-control"
                    placeholder="{{formArea.label}}" name="{{formArea.label}}">
            </div>
            <div *ngIf="formArea.dataType == 'date'">
                <input type="date" id="{{formArea.label}}" formControlName="{{formArea.label}}" class="form-control"
                    placeholder="{{formArea.label}}" name="{{formArea.label}}">
            </div>
        </div>
        <input type="text" id="selectedTags" formControlName="selectedTags" class="form-control"
            placeholder="Selected Tags" name="selectedTags">
        <button class="btn btn-success" style="margin-top: 10px;" class="btn btn-success"
            (click)="search()">Search</button>
        <!-- <button type="submit" style="margin-top: 10px;" class="btn btn-success">Search</button> -->
    </form>
</body>
<div *ngIf="this.results" class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let result of results">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">{{result.postText}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>