<body class="text-center">
    <form [formGroup]="postTypeAddForm" class="form-group" (ngSubmit)="add()">
        <h1 class="h3 mb-3 font-weight-normal">Create Post Type</h1>

        <input type="text" id="name" formControlName="name" class="form-control" placeholder="Name" name="name">
        <div style="color: red;"
            *ngIf="postTypeAddForm.get('name').hasError('required') && postTypeAddForm.get('name').dirty">"Name" input
            is
            required.</div>

        <input type="text" id="usage" formControlName="usage" class="form-control" placeholder="Usage" name="usage">
        <div style="color: red;"
            *ngIf="postTypeAddForm.get('usage').hasError('required') && postTypeAddForm.get('usage').dirty">
            "Usage" input is required.</div>

        <button type="submit" class="btn btn-success">Create</button>
    </form>
</body>