<div *ngIf="this.postType">
    <form [formGroup]="formAddForm" class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Create Form Area</h1>
        <h3>{{postType.name}}</h3>
        <h3>{{postType.usage}}</h3>
        <div formArrayName="formAreas" *ngFor="let item of formAddForm.get('formAreas').controls; let i = index;"
            style="margin-bottom: 10px;">
            <div [formGroupName]="i">
                <label>Label: </label>
                <input type="text" id="label" formControlName="label" class="form-control" placeholder="Label"
                    name="label" style="margin-bottom: 5px;">
                <label>Data Type: </label>
                <select style="margin-bottom: 5px;" type="text" id="dataType" formControlName="dataType" class="form-control" name="dataType"
                    matNativeControl required >
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="date">Date</option>
                    <option value="enum">Enum</option>
                    <option value="image">Image</option>
                    <option value="video">Video</option>
                </select>
                <label >Requirement: </label>
                <select style="margin-bottom: 5px;" id="requirement" formControlName="requirement" class="form-control" name="requirement">
                    <option>true</option>
                    <option>false</option>
                </select>
            </div>
        </div>
        <div *ngIf="this.enum">
            <form [formGroup]="enumForm" class="form-group">
                <label>Enum values (Separate them with ';'): </label>
                <div *ngFor="let control of this.nameOfControls">
                    <input type="text" id="{{control}}" formControlName="{{control}}" class="form-control" placeholder="{{control}}"
                        name="{{control}}" style="margin-bottom: 5px;">
                </div>
                <button class="btn btn-success" (click)="saveEnumValues(this.idList, this.nameOfControls)">Save</button>
            </form>
        </div>
        <button class="btn btn-success" (click)="addFormArea()" style="margin-bottom: 5px;">Add Form Area</button>
        <button class="btn btn-success" (click)="add()" style="margin-bottom: 5px;">Create</button>
        <div style="color: green; margin-bottom: 5px;" *ngIf="this.submitted">Form area(s) created successfully.</div>
        <div style="color: green; margin-bottom: 5px;" *ngIf="this.enumSubmitted">Enum(s) created successfully.</div>
        <div style="color: red; margin-bottom: 5px;" *ngIf="this.error">Form area(s) not created.</div>
        <div style="color:mediumturquoise; margin-bottom: 5px;" *ngIf="this.redirect">Redirecting to Communities page...</div>
    </form>
</div>