<div *ngIf="this.postType">
    <form [formGroup]="formAddForm" class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Create Form Area</h1>
        <h3>{{postType.name}}</h3>
        <h3>{{postType.usage}}</h3>
        <div formArrayName="formAreas" *ngFor="let item of formAddForm.get('formAreas').controls; let i = index;"
            style="margin-bottom: 10px;">
            <div [formGroupName]="i">
                <input type="text" id="label" formControlName="label" class="form-control" placeholder="Label"
                    name="label">
                <select type="text" id="dataType" formControlName="dataType" class="form-control" name="dataType"
                    placeholder="Data Type" matNativeControl required>
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="date">Date</option>
                    <option value="image">Image</option>
                    <option value="video">Video</option>
                </select>
                <input type="checkbox" id="requirement" formControlName="requirement" class="form-control" name="requirement">
            </div>
        </div>
        <button class="btn btn-success" (click)="addFormArea()">Add Form Area</button>
        <button class="btn btn-success" (click)="add()">Create</button>
    </form>
</div>