<header class="header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 text-center">
            <a class="header-logo text-dark" href="#">Large</a>
          </div>
        </div>
      </header>
    
      <div class="nav-scroller py-1 mb-2">
        <nav class="site-header sticky-top py-1">
          <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" href="#">Home</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Help</a>
          
          </div>
        </nav>
      </div>